---
layout: default
---
<header>
  <h1 style="text-align:center;">{{ site.title }}</h1>
  {% if site.theme_config.show_description %}
    <p>{{ site.description }}</p>
  {% endif %}
  <script type="text/javascript">
  
    function lightCandle(){   
      if (document.getElementById("candle1").innerHTML==="") {
        var candle1 = new Image();
        candle1.src = "/chanukah-cup/assets/images/candle1.jpg";
        candle1.style.width = '172px';
        candle1.style.height = '256px';
        document.getElementById("candle1").appendChild(candle1);
      } else if (document.getElementById("candle2").innerHTML==="") {
        var candle2 = new Image();
        candle2.src = "/chanukah-cup/assets/images/candle2.jpg";
        candle2.style.width = '172px';
        candle2.style.height = '256px';
        document.getElementById("candle2").appendChild(candle2);
      } else if (document.getElementById("candle3").innerHTML==="") {
        var candle3 = new Image();
        candle3.src = "/chanukah-cup/assets/images/candle3.jpg";
        candle3.style.width = '172px';
        candle3.style.height = '256px';
        document.getElementById("candle3").appendChild(candle3);
      } else if (document.getElementById("candle4").innerHTML==="") {
        var candle4 = new Image();
        candle4.src = "/chanukah-cup/assets/images/candle4.jpg";
        candle4.style.width = '172px';
        candle4.style.height = '256px';
        document.getElementById("candle4").appendChild(candle4);
      } else if (document.getElementById("candle5").innerHTML==="") {
        var candle5 = new Image();
        candle5.src = "/chanukah-cup/assets/images/candle5.jpg";
        candle5.style.width = '172px';
        candle5.style.height = '256px';
        document.getElementById("candle5").appendChild(candle5);
      } else if (document.getElementById("candle6").innerHTML==="") {
        var candle6 = new Image();
        candle6.src = "/chanukah-cup/assets/images/candle6.jpg";
        candle6.style.width = '172px';
        candle6.style.height = '256px';
        document.getElementById("candle6").appendChild(candle6);
      } else if (document.getElementById("candle7").innerHTML==="") {
        var candle7 = new Image();
        candle7.src = "/chanukah-cup/assets/images/candle7.jpg";
        candle7.style.width = '172px';
        candle7.style.height = '256px';
        document.getElementById("candle7").appendChild(candle7);
      } else if (document.getElementById("candle8").innerHTML==="") {
        var candle8 = new Image();
        candle8.src = "/chanukah-cup/assets/images/candle8.jpg";
        candle8.style.width = '172px';
        candle8.style.height = '256px';
        document.getElementById("candle8").appendChild(candle8);
      } else {
        document.getElementById("farewell").innerHTML="We have lit all eight candles on our menorah. Happy Chanukah!"
      }
      
    }
    
  </script>
</header>

<body>
{{ content }}
<div style="text-align:center;">Are you ready to light the Chanukah candles?</div>
<p><br/></p>
<div id="candle1"></div><div id="candle2"></div><div id="candle3"></div><div id="candle4"></div><div id="candle5"></div><div id="candle6"></div><div id="candle7"></div><div id="candle8"></div>
<p><br/></p>
<div style="text-align:center;" id="farewell"></div>
<p><br/></p>
<div style="text-align:center;"><button onclick="lightCandle()">Light Candle</button><div>
</body>
